{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style-historia-r.css' %}">
    <title>Routine History</title>

</head>
<body>
<div class="cover">
    <div class="content-container">

        <div class="content">
            <h1>Routine History</h1>
            <a href="/main" class="return-link">Return</a>
            
            {% if hist %}
            {% for historial in hist %}
            <div class="routine-entry">
                <p><strong>Fecha:</strong> {{ historial.fecha }}</p>
                <h2>Rutina de Ejercicio</h2>
                <p><strong>Tiempo Aproximado:</strong> {{ historial.rutina.Tiempo_Aproximado }}</p>
                <p><strong>Tiempo de Descanso:</strong> {{ historial.rutina.Tiempo_de_Descanso }}</p>
                <p><strong>Calentamiento:</strong> {{ historial.rutina.Calentamiento }}</p>
            <p><strong>Número de series por ejercicio:</strong> {{ historial.rutina.Numero_de_series_por_ejercicio }}</p>

            <h3>Ejercicios</h3>
            <ul>
                {% for key, value in historial.rutina.Ejercicios.items %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
            </ul>
            <p><strong>Lesiones:</strong> {{ historial.lesiones }}</p>
            <p><strong>Opinión:</strong> {{ historial.opinion }}</p>
        </div>
        {% endfor %}
        {% else %}
        <h2>No se encontraron rutinas.</h2>
        {% endif %}
    </div>
</div>
</div>
</body>
</html>
