<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login y Registro</title>
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }
    .button {
        display: inline-block;
        padding: 20px 40px;
        font-size: 18px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        text-decoration: none;
    }
    .button:hover {
        background-color: #45a049;
    }
</style>
</head>
<body>

<h2>Bienvenido</h2>
<a href="accounts/login/" class="button">Login</a>
<a href="accounts/sign-up/" class="button">Register</a>

</body>
</html>