<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PocketGymbro</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'static/style.css' %}">
    {% endload %}
</head>
<body>u
    <div class="cover">
        <h1>Welcome to 
            <br>
            POCKET GYMBRO
        </h1>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="container">
        <h2>Create your User</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>