{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'style-mainPage.css' %}">
    <title>Dashboard</title>
</head>

<body>
    <header class="section_header">
        <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1><span>Welcome</span> to POCKET GYMBRO</h1>
        </div>
    </header>


    <section class="section__container explore__container">
        <div class="explore__header">
        </div>
        <div class="explore__grid">
        <div class="explore__card">
            <span><i class="fa-solid fa-user"></i></span>
            <h4>Profile</h4>
            <p>
            Manage your personal details and set your fitness 
            goals to customize your experience.
            </p>
            <a href="/main/profile/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="fa-solid fa-dumbbell"></i></span>
            <h4>Equipment</h4>
            <p>
            Organize and keep track of your exercise equipment to optimize your workouts.
            </p>
            <a href="/main/equipment/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="fa-solid fa-carrot"></i></span>
            <h4>Diet</h4>
            <p>
            Adjust your daily calorie intake, macronutrient distribution, 
            and create meal plans tailored to your needs.
            </p>
            <a href="/main/dietbot/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="fa-solid fa-bowl-food"></i></span>
            <h4>Macros</h4>
            <p>
            Control your intake of proteins, carbohydrates, 
            and fats to meet your nutritional goals.
            </p>
            <a href="/main/macrosCalc/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="fa-solid fa-medal"></i></span>
            <h4>Routine</h4>
            <p>
            Plan your workout sessions, establish frequency, 
            and take proper breaks to maximize progress.
            </p>
            <a href="/main/rutinas/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="fa-solid fa-calendar-week"></i></span>
            <h4>View your weekly diet</h4>
            <p>
            Visualize your weekly meal plans and gain insights 
            into your nutrition to make adjustments as needed.
            </p>
            <a href="/main/visualDieta/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="fa-solid fa-bookmark"></i></span>
            <h4>View your routine history</h4>
            <p>
            Track your progress over time by reviewing 
            your workout logs and visualizing your evolution.
            </p>
            <a href="/main/historial_R/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="fa-solid fa-file-medical"></i></span>
            <h4>View your injuries</h4>
            <p>
            Record past injuries, monitor your rehabilitation progress, 
            and learn strategies for preventing future injuries.
            </p>
            <a href="/main/lesiones/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="fa-solid fa-book-open"></i></span>
            <h4>View your weekly routine</h4>
            <p>
            Review your weekly exercise schedule and get an overview of 
            your training to maintain a consistent approach.
            </p>
            <a href="/main/verRsemanal/" class="btn"><i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
        </div>
        <form action="logout/" method="POST" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-logout">Cerrar Sesión</button>
        </form>
    </section>

</body>

</html>