{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %}">
</head>

<body>
    <div class="cover">
        <img src="{% static 'images/Logo.png' %}" alt="Logo" class="logo">
        <h3>¡Join our team now!</h3>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="POST" class="grid-form" action="">
            {% csrf_token %}
            <div class="column">
                <div class="username">
                    <input type="text" id="username" value="{{ username }}" readonly>
                </div>
                <div class="username">
                    <input type="text" id="password" value="{{ email }}" readonly>
                </div>
                <div class="username">
                    <input type="password" id="password" value="{{ password }}" readonly>
                </div>
                <div class="username">
                    <input type="password" id="password" value="{{ password }}" readonly>
                </div>
                <div class="username">
                    <input type="number" name="wgt" id="wgt" required>
                    <label>Weight (kgs)</label>
                </div>
                
                <div class="username">
                    
                    <select type="text" name="objt" id="objt" required>
                        <option value="">Objective</option>
                        <option value="MAXIMUM FAT LOSS">Maximum Fat Loss</option>
                        <option value="SOME FAT LOSS">Some Fat Loss</option>
                        <option value="MANTAIN">Mantain</option>
                        <option value="STEADY GAIN">Steady Gain</option>
                        <option value="GAIN">Gain</option>
                    </select>
                    
                </div>
                <div class="username">
                    <input type="date" name="btd" id="btd" required>
                    <label>BirthDay</label>
                </div>
            </div>
            <div class="column">
                <div class="username">
                    <input type="text" name="nm" id="nm" required>
                    <label>Name</label>
                </div>
                <div class="username">
                    <input type="text" name="apll" id="apll" required>
                    <label>Last Name</label>
                </div>
                <div class="username">
                    <input type="number" name="hgt" id="hgt" required>
                    <label>Height (cm)</label>
                </div>
                <div class="username">
                    <select type="number" name="phy" id="phy" required>
                        <option value="">Physical condition</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="username">
                    <select type="text" name="spt" id="spt" required>
                        <option value="">Sport Preference</option>
                        <option value="SOCCER">Soccer</option>
                        <option value="BASKETBALL">Basketball</option>
                        <option value="VOLLEYBALL">Volleyball</option>
                        <option value="UNDERWATER HOCKEY">Underwater Hockey</option>
                        <option value="TENNIS">Tennis</option>
                        <option value="TABLE TENNIS">Table Tennis</option>
                        <option value="ATHLETICS">Athletics</option>
                        <option value="CYCLING">Cycling</option>
                        <option value="CALISTHENICS">Calisthenics</option>
                        <option value="HOCKEY">Hockey</option>
                        <option value="ARCHERY">Archery</option>
                        <option value="OTHER">Other</option>
                    </select>
                    
                </div>
                <div class="username">
                    <label for="gender"></label>
                    <select name="gnd" id="gnd" required>
                        <option value="">Gender</option>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="NON_BINARY">Non-binary</option>
                        <option value="TRANSGENDER">Transgender</option>
                        <option value="GENDERQUEER">Genderqueer</option>
                        <option value="GENDERFLUID">Genderfluid</option>
                        <option value="AGENDER">Agender</option>
                        <option value="BIGENDER">Bigender</option>
                        <option value="TWO_SPIRIT">Two-Spirit</option>
                        <option value="OTHER">Other</option>
                        <option value="CISGENDER">Cisgender</option>
                        <option value="GENDER_QUESTIONING">Gender Questioning</option>
                        <option value="GENDER_NONCONFORMING">Gender Nonconforming</option>
                        <option value="PANGENDER">Pangender</option>
                        <option value="DEMIBOY">Demiboy</option>
                        <option value="DEMIGIRL">Demigirl</option>
                        <option value="ANDROGYNE">Androgyne</option>
                        <option value="NEUTROIS">Neutrois</option>
                        <option value="GENDERFLUX">Genderflux</option>
                        <option value="THIRD_GENDER">Third Gender</option>
                        <option value="BI_GENDER">Bi-gender</option>
                        <option value="GENDER_EXPANSIVE">Gender Expansive</option>
                        <option value="GENDER_VARIANT">Gender Variant</option>
                        <option value="INTERSEX">Intersex</option>
                        <option value="THIRD_SEX">Third Sex</option>
                        <option value="NONE">None</option>
                        <option value="MAHORAGA">Mahoraga</option>
                        <option value="ITACHI">Itachi</option>
                        <option value="BOEING_AH_64_APACHE">Boeing AH-64 Apache</option>
                        <option value="GOKU">Goku</option>
                        <option value="DECEPTICON">Decepticon</option>
                        <option value="OPTIMUS_PRIME">Optimus prime</option>
                        <option value="PERRO">Perro</option>
                        <option value="GATO">Gato</option>
                        <option value="OBAMA">Obama</option>
                        <option value="PREFER_NOT_TO_SAY">Prefer Not to Say</option>
                    </select>
                </div>
                
                <div class="username">
                    <input type="text" name="med" id="med" required>
                    <label>Medical Conditions</label>
                </div>
                
            </div>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>

</html>