{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %}">
</head>

<body>
    <div class="cover">
        <img src="{% static 'images/Logo.png' %}" alt="Logo" class="logo">
        <h3>¡Join our team now!</h3>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="container">
        <h2>Sign Up</h2>
        <form action="." method="POST">
            <div class="username">
                {{form.errors}}
            </div>
            {% csrf_token %}
            <div class="username">
                {{form.username}}
                <label>Username</label>
            </div>
            <div class="username">
                {{form.email}}
                <label>Email</label>
            </div>
            <div class="username">
                {{form.password1}}
                <label>Password</label>
            </div>
            <div class="username">
                {{form.password2}}
                <label>Confirm Password</label>
            </div>

            <input type="submit" value="Sign Up">
            <div class="register">
                Are you already registered? Go  <a href="/accounts/login">here</a>!

            </div>

        </form>
    </div>
</body>

</html>